.title {
  font-size: 2.5rem;
  display: block !important;
}
.localization {
  font-size: 1rem;
  display: block !important;
  color: gray;
}
.specs {
  display: flex;
  align-items: center;
}
.specs div span {
  display: block;
}
.specs div span:nth-of-type(2n + 1) {
  font-weight: 900;
}
.specs div span:nth-of-type(2n) {
  font-weight: 300;
  color: gray;
}
.titles {
  font-size: 1.5rem;
}
.icon {
  font-size: 2.3rem;
  color: #4b91ff;
  margin-right: 15px;
}
